<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reset-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Enter your email
      <p class="subtitle">To reset your password </p>
    </ion-title>

  </div>

  <div>
    <ion-item>
      <ion-input class="input" placeholder="Enter yourn email" [(ngModel)]="email"></ion-input>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button (click)="resetPassword()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
