.text-content{
    min-height: 120px;
    padding:20px;
    font-size: 1.2em;
    font-weight: 300;
}

ion-content {
    --ion-background-color: #000288; 
    --ion-text-color: #ffffff; 
  }
  
  ion-header {
    --ion-background-color: #435fee; 
    --ion-color-base: #ffffff;
    --ion-text-color: #ffffff;
  }