<ion-header [translucent]="true" class="Header">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Logout()">Sign Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    
    <section id="about-me" class="container">
      <div class="content">
          <div class="about-me-details">
              <h1>About Me</h1>
              <p style="align-self: center;">My name is John Patrick P. Ochoa</p>
              <img src="../dashboard/images/pic.jpg" alt="my pic">
              <p> and I am a second-year college student at Pamantasan ng Lungsod ng Valenzuela, pursuing a degree in Information Technology with a focus on Game Development.</p>
              <p>My passion for gaming and technology has driven me to explore various programming languages and game development tools. I have some Familiarities in languages such as Java and C#.</p>
              <p>Outside of my studies and coding projects, I enjoy playing video games, watching esports tournaments, and attending gaming conventions to stay updated on the latest industry trends.</p>
          </div>
      </div>
    </section>
    <section id="skills-interests" class="container">
      <div class="content">
          <div class="skills">
              <h2>Skills</h2>
              <ul>
                  <li>Programming Languages: Java, C#, Python</li>
                  <li>Game Development: Unity</li>
                  <li>Web Development: HTML, CSS, JavaScript</li>
                  <li>Graphic Design: Adobe Photoshop, Illustrator</li>
              </ul>
          </div>
          <div class="interests">
              <h2>Interests</h2>
              <ul>
                  <li>Technology: Keeping up with the latest advancements</li>
                  <li>Esports: Watching and participating in competitive gaming</li>
                  <li>Relaxation: Reading Manga and Lightnovels </li>
              </ul>
          </div>
      </div>
    </section>  
    <section id="education" class="container">
      <div class="content">
          <h2>How Do I See myself in 5 Years?</h2>
          <ul>
              <li>Have an okay job, Not sure about love life, Definitely Filial to my Parents</li>
          </ul>
          <h2>Strength and weakness</h2>
          <ul>
              <li>
                Strengths: Punctual, Orderly, Good Personality, Responsible
              </li>
              <li>
                Weaknessess: clumsy, A bit slow, always daydreams, lazy
              </li>
          </ul>
          <h2>Motto</h2>
          <ul>
              <li>The Greatest result possible with minimal Effort</li>
          </ul>
      </div>
    </section>
    <section id="education" class="container">
      <div class="content">
          <h2>Love Language MO? Bakit?</h2>
          <ul>
              <li>Sana all na lng kung may love language pa, bakit? sa panaginip lng at yun eh</li>
          </ul>
          <h2>Kung PagKain ka, bakit?</h2>
          <ul>
              <li>
                Kung pagkain ako, sana yung masarap. atleast nakakapag pasaya ng iba.
              </li>
          </ul>
          <h2>Pet Peeve</h2>
          <ul>
              <li> Yung maingay sila tapos ako madadamay</li>
              <li> Yung ayaw makipag usap ng matino</li>
              <li> Pinaghihintay</li>
          </ul>
      </div>
    </section>
  </div>
</ion-content>
