<ion-header class="Header">
  <ion-toolbar>
    <ion-title class="title">HOME PAGE</ion-title>
  </ion-toolbar>
</ion-header>
<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="">
  <div class="main-container">

    <img src="../home/images/loho.jpg" alt="logo" class="logo">
    <h1 class="name">JOHN PATRICK<br>OCHOA</h1>
    <div class="social-icons">
      <a href="https://www.facebook.com/johnpatrick.ochoa" target="_blank" rel="noopener"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="https://twitter.com/JPOchoa14" target="_blank" rel="noopener"><ion-icon name="logo-twitter"></ion-icon></a>
    </div>
  </div>
</ion-content>
</div>
