.md body{
  background-color: #e71818;
}
.container {
  text-align: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 5%;
  background: linear-gradient(to right, #fd8777, #e71818);

  position: absolute;
  padding-top: 15px;
  height: 200px;
  width: 300px;
  left: 50px;
  top: 200px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
